<%- include('includes/head') %>
<%- include('includes/header') %>

<section class="section wb">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                <h1>Страницата не е намерена!!!</h1>
            </div><!-- end col -->

            <!-- SIDE BAR -->
            <%- include('includes/sidebar') %>
        </div><!-- end row -->
    </div><!-- end container -->
</section>


<%- include('includes/footer') %>